<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.scott.swipe">
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />
    <application>
        <activity android:name=".test.SwipeLayoutTestActivity"/>
    </application>
</manifest>